body{
    font-family: 'Otomanopee One', sans-serif;
    background-color: rgb(250, 255, 250);
}
#header-nav{
    background-color: rgb(241, 122, 10);
}
.container-fluid .navbar-brand{
    height: 80px; 
}
a, a:hover{
    text-decoration: none;
}
.container-fluid .navbar-brand h1{
    color: rgb(9, 17, 59);
    font-family: 'Hammersmith One', sans-serif;
    text-align: left;
    margin-top: 10px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border:1px solid #0c0a0b;
}
#collapsible-nav{
    border: 1px solid rgb(18, 117, 9);
    background-color: rgb(18, 117, 9);
}
#collapsible-nav li{
    background-color: rgb(18, 117, 9);
}
#collapsible-nav li:nth-child(2){
    border: 1px solid black;
}
#collapsible-nav span{
    color: black;
}
#collapsible-nav li:hover, #collapsible-nav span:hover{
    background-color: white;
    color: black;
}
#title{
    font-weight: bold;
    color: rgb(8, 8, 68);
}
#content h2{
    font-size: large;
    font-family:'Hammersmith One', sans-serif;
    color: black;
    font-weight: bold;
}
#main-content{
    background-color: rgb(18, 117, 9);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;

}
@media(min-width:767px){
    #collapsible-nav{
    border: 1px solid rgb(241, 122, 10);
    background-color: rgb(241, 122, 10);
}
}
@media(max-width:766px){
    #collapsible-nav{
    border: 1px solid rgb(18, 117, 9);
    background-color: rgb(18, 117, 9);
}
}